HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/
target/
*.class
*.jar
*.war
.idea/
*.iml
.DS_Store
src/main/resources/application.properties
